{% block left %}
<div class="col-sm-3 col-md-2 sidebar" xmlns="http://www.w3.org/1999/html">
          <ul class="nav nav-sidebar">
              <li class="active"><a href="monitor_host">主机监控 </a></li>
              <li ><a href="application_manager">应用管理</a></li>
              <li><a href="monitor_performance">主机资源监控</a></li>
              <li><a href="monitor_device">网络设备监控</a></li>
              <li><a href="monitor_log">日志监控</a></li>
              <li><a href="oper_file">文件操作</a></li>
              <li><a href="ping">设备检测ping</a></li>
              <li><a href="netmanager">网络管理</a></li>
              <li><a href="hostmanager">业务管理</a></li>
              <ul id="menu">


</ul>
        </div>




{% end %}